<div class="container">
  <div class="columns is-centered mt-6">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Enter length</label>
        <input class="input" (input)="onChangeLength($event)" />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseLetters()" type="checkbox" />Use Letters
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseNumbers()" type="checkbox" />Use Numbers
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseSymbols()" type="checkbox" />Use Symbols
          </label>
        </div>
      </div>

      <div>
        <!-- Event Binding Syntax -->
        <button
          [disabled]="
            !(length && (includeLetters || includeNumbers || includeSymbols))
          "
          (click)="onButtonClick()"
          class="button is-link is-fullwidth"
        >
          Generate!
        </button>
      </div>

      <!-- structural directive -- hides everything in this element until generated password completes-->
      <div class="box" *ngIf="password">
        <label>Your Password</label>
        <input
          class="input"
          [value]="password"
        /><!-- Property Binding Syntax -->
      </div>
    </div>
  </div>
</div>

<!-- {{ password }}  Interpolation Syntax-->
